In [1]:
!pip install -U textblob

Collecting textblob
  Downloading textblob-0.15.3-py2.py3-none-any.whl (636 kB)
Requirement already satisfied: nltk>=3.1 in c:\users\piyus\anaconda3\lib\site-packages (from textblob) (3.6.2)
Requirement already satisfied: tqdm in c:\users\piyus\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (4.59.0)
Requirement already satisfied: regex in c:\users\piyus\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (2021.4.4)
Requirement already satisfied: joblib in c:\users\piyus\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (1.0.1)
Requirement already satisfied: click in c:\users\piyus\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (7.1.2)
Installing collected packages: textblob
Successfully installed textblob-0.15.3

In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import string # special operations on strings
import spacy # language models

from matplotlib.pyplot import imread
from matplotlib import pyplot as plt
from wordcloud import WordCloud
%matplotlib inline

In [3]:
data = pd.read_csv("\\Users\\piyus\\Downloads\\Elon_musk.csv",encoding = "ISO-8859-1")
data

      Unnamed: 0                                               Text
0              1                             @kunalb11 Im an alien
1              2  @ID_AA_Carmack Ray tracing on Cyberpunk with H...
2              3                @joerogan @Spotify Great interview!
3              4                    @gtera27 Doge is underestimated
4              5  @teslacn Congratulations Tesla China for amazi...
...          ...                                                ...
1994        1995  @flcnhvy True, it sounds so surreal, but the n...
1995        1996  @PPathole Make sure to read ur terms &amp; con...
1996        1997                @TeslaGong @PPathole Samwise Gamgee
1997        1998  @PPathole Altho Dumb and Dumber is <U+0001F525...
1998        1999                          Progress update August 28

[1999 rows x 2 columns]

In [4]:
data.isnull().sum()

Unnamed: 0    0
Text          0
dtype: int64

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1999 entries, 0 to 1998
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1999 non-null   int64
 1   Text        1999 non-null   object
dtypes: int64(1), object(1)
memory usage: 31.4+ KB

In [6]:
#droping Unnamed Column
data=data.drop(['Unnamed: 0'],axis=1)

In [7]:
data

                                                   Text
0                                @kunalb11 Im an alien
1     @ID_AA_Carmack Ray tracing on Cyberpunk with H...
2                   @joerogan @Spotify Great interview!
3                       @gtera27 Doge is underestimated
4     @teslacn Congratulations Tesla China for amazi...
...                                                 ...
1994  @flcnhvy True, it sounds so surreal, but the n...
1995  @PPathole Make sure to read ur terms &amp; con...
1996                @TeslaGong @PPathole Samwise Gamgee
1997  @PPathole Altho Dumb and Dumber is <U+0001F525...
1998                          Progress update August 28

[1999 rows x 1 columns]

In [8]:
import re
# Clean The Data
def cleantext(text):
    text = re.sub(r"@[A-Za-z0-9]+", "", text) # Remove Mentions
    text = re.sub(r"#", "", text) # Remove Hashtags Symbol
    text = re.sub(r"RT[\s]+", "", text) # Remove Retweets
    text = re.sub(r"https?:\/\/\S+", "", text) # Remove The Hyper Link
    
    return text
# Clean The Text
data["Text"] = data["Text"].apply(cleantext)
data.head()

                                                Text
0                                       Im an alien
1  _AA_Carmack Ray tracing on Cyberpunk with HDR ...
2                                   Great interview!
3                             Doge is underestimated
4   Congratulations Tesla China for amazing execu...

In [9]:
from textblob import TextBlob

In [10]:
# Get The Subjectivity
def sentiment_analysis(ds):
    sentiment = TextBlob(ds["Text"]).sentiment
    return pd.Series([sentiment.subjectivity, sentiment.polarity])
# Adding Subjectivity & Polarity
data[["subjectivity", "polarity"]] = data.apply(sentiment_analysis, axis=1)
data

,Text,subjectivity,polarity
0,Im an alien,0.750000,-0.250000
1,_AA_Carmack Ray tracing on Cyberpunk with HDR ...,0.000000,0.000000
2,Great interview!,0.750000,1.000000
3,Doge is underestimated,0.000000,0.000000
4,Congratulations Tesla China for amazing execu...,0.366667,0.345313
...,...,...,...
1994,"True, it sounds so surreal, but the negative ...",0.508333,0.111111
1995,Make sure to read ur terms &amp; conditions b...,0.888889,0.625000
1996,Samwise Gamgee,0.000000,0.000000
1997,Altho Dumb and Dumber is <U+0001F525><U+0001F...,0.500000,-0.375000
1998,Progress update August 28,0.000000,0.000000

In [11]:
# Compute The Negative, Neutral, Positive Analysis
def analysis(score):
    if score < 0:
        return "Negative"
    elif score == 0:
        return "Neutral"
    else:
        return "Positive"
    
# Create a New Analysis Column
data["analysis"] = data["polarity"].apply(analysis)
# Print The Data
data

,Text,subjectivity,polarity,analysis
0,Im an alien,0.750000,-0.250000,Negative
1,_AA_Carmack Ray tracing on Cyberpunk with HDR ...,0.000000,0.000000,Neutral
2,Great interview!,0.750000,1.000000,Positive
3,Doge is underestimated,0.000000,0.000000,Neutral
4,Congratulations Tesla China for amazing execu...,0.366667,0.345313,Positive
...,...,...,...,...
1994,"True, it sounds so surreal, but the negative ...",0.508333,0.111111,Positive
1995,Make sure to read ur terms &amp; conditions b...,0.888889,0.625000,Positive
1996,Samwise Gamgee,0.000000,0.000000,Neutral
1997,Altho Dumb and Dumber is <U+0001F525><U+0001F...,0.500000,-0.375000,Negative
1998,Progress update August 28,0.000000,0.000000,Neutral

extract some positive and negative tweets with the full text to see what they are all about

In [12]:
positive_tweets = data[data['analysis'] == 'Positive']
negative_tweets = data[data['analysis'] == 'Negative']
print('positive tweets')
for i, row in positive_tweets[:5].iterrows():
  print(' -' + row['Text'])
print('negative tweets')
for i, row in negative_tweets[:5].iterrows():
  print(' -' + row['Text'])

positive tweets
 -  Great interview!
 - Congratulations Tesla China for amazing execution last year. Now on to the next for even more!!
 -Happy New Year of the Ox!
 -_   Haha thanks :)
 -The most entertaining outcome is the most likely
negative tweets
 - Im an alien
 - Your app sucks
 - _ Starlink is a staggeringly difficult technical &amp; economic endeavor. However, if we don
 - _ SpaceX needs to pass through a deep chasm of negative cash flow over the next year or
 - Everyone at Tesla receives stock.

My comp is all stock/options, which I do not take off the table.

Thats what youre missing.

In [13]:
#ratio of positive over negative tweets
len(positive_tweets) / len(negative_tweets)

4.036529680365297

In [14]:
positive_tweets

,Text,subjectivity,polarity,analysis
2,Great interview!,0.750000,1.000000,Positive
4,Congratulations Tesla China for amazing execu...,0.366667,0.345313,Positive
5,Happy New Year of the Ox!,0.727273,0.485227,Positive
7,_ Haha thanks :),0.500000,0.300000,Positive
9,The most entertaining outcome is the most likely,0.675000,0.375000,Positive
...,...,...,...,...
1986,Best use of the term Full Stack?,0.300000,1.000000,Positive
1987,For sure. This is both great &amp; terrifyin...,0.879630,0.100000,Positive
1991,"No easy way to answer this in a tweet, but he...",0.583333,0.016667,Positive
1994,"True, it sounds so surreal, but the negative ...",0.508333,0.111111,Positive
1995,Make sure to read ur terms &amp; conditions b...,0.888889,0.625000,Positive